name: cyan

x-app: &common
  image: cyan:1.0
  platform: linux/amd64
  volumes:
    - ../:/app
  command: ["tail", "-f", "/dev/null"]

services:
  master:
    build:
      context: .
    <<: *common
    container_name: master
    networks: { internal_net: { ipv4_address: 2.2.2.100 } }
    environment:
      - ROLE=master

  vm01:
    <<: *common
    container_name: vm01
    networks: { internal_net: { ipv4_address: 2.2.2.101 } }
    mem_limit: 2g

  vm02:
    <<: *common
    container_name: vm02
    networks: { internal_net: { ipv4_address: 2.2.2.102 } }
    mem_limit: 2g

  vm03:
    <<: *common
    container_name: vm03
    networks: { internal_net: { ipv4_address: 2.2.2.103 } }
    mem_limit: 2g

networks:
  internal_net:
    driver: bridge
    ipam:
      config:
        - subnet: 2.2.2.0/24
          gateway: 2.2.2.1
